body {
    /* background-image: linear-gradient(180deg, #007c88, #37518f); */
    background-image: url(./2154cd17b398cf202ab361615fe313af.jpg);
    color: #fff;
    background-size: cover;
    background-position: center;
}
body {
    margin: 0;
}


.wrapper {
    text-align: center;
}
.wrapper {
    background-image: linear-gradient(180deg, #007c88cf, #37518fe3);
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    animation: fadeIn 1000ms ease;
    -webkit-animation: fadeIn 1000ms ease;
}
.wrapper {
    padding: 108px 0;
}
.footer {
    background: #00606a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
}
.wrapper a {
    color: #fff;
}
.dot {
  color: #4FEBFE;
}

p {
  text-align: center;
  margin: 18px;
  font-family: 'Muli', sans-serif;
  font-weight: normal;
  
}

.icons {
  text-align: center;
  
}

.icons i {
  color: #00091B;
  background: #fff;
  height: 15px;
  width: 15px;
  padding: 13px;
  margin: 0 10px;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: all 200ms ease;
  text-decoration: none;
  position: relative;
}

.icons i:hover, .icons i:active {
  color: #fff;
  background: none;
  cursor: pointer !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  text-decoration: none;
  
}